<%= stylesheet_link_tag "chords" %>
<p id="notice"><%= notice %></p>

<h1>Chords</h1>

<table>
  <thead>
    <tr>
      <th>Chord</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chords.each do |chord| %>
      <tr>
        <td id="chord"><%= chord.chord %></td>
        <tr></tr>
        <td><%= button_to 'Show', chord %></td>
        <td><%= button_to 'Edit', edit_chord_path(chord) %></td>
        <td><%= button_to 'Destroy', chord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chord', new_chord_path %>
