<%= stylesheet_link_tag "artists"%>
<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Id artist</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <%-# commented line -%>
        <td><%= artist.name %></td>
        <td><%= artist.id_artist %></td>
        <td><%= button_to 'Show', artist %></td>
        <td><%= button_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= button_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
