<p id="notice"><%= notice %></p>

<table class="table table-dark">
<thead>
  <tr>
    <th>Name:</th>
    <th>Id artist:</th>
    <th>Song:</th>
  </tr>
</thead>
<tbody>
  <td> <%= @artist.name %></td>
  <td> <%= @artist.id_artist %></td>
  <td> <%= @artist.song.name %></td>
</p>
<tbody>
</table>
<%= link_to 'Edit', edit_artist_path(@artist), class: :btn %> |
<%= link_to 'Back', artists_path, class: :btn %>
