<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Id artist:</strong>
  <%= @artist.id_artist %>
</p>

<p>
  <strong>Song:</strong>
  <%= @artist.song %>
</p>

<%= button_to 'Edit', edit_artist_path(@artist) %> |
<%= button_to 'Back', artists_path %>
